@import "./utils/variables.scss";

.skillContainers {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 2rem;
  //border: 1px solid yellow;
}

.skillContainer1 {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-self: stretch;
  flex-grow: 1;
}

.skillContainer2 {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-self: stretch;
  flex-grow: 1;
}
.skill {
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  //border: 1px solid red;

  .icon {
    font-size: 2rem;
    color: white;
  }

  .progressBarContainer {
    flex-grow: 1;
    min-width: 30px;
    border-radius: 3px;
    height: 15px;
    background: $secondary-black;
    //margin-left: 16px;
  }
  .progress {
    border-radius: 3px;
    height: 15px;
    //width: 70%;
    background: $palegold;
  }
}
