@use "./utils/variables.scss" as *;

.skillContainers {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
  padding: 2rem 0;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 4rem;
  width: 100%;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.5rem;

  .icon {
    flex-shrink: 0;
    transition: transform 0.3s ease;
  }
  
  &:hover .icon {
    transform: scale(1.1);
  }

  .progressBarContainer {
    flex-grow: 1;
    border-radius: 4px;
    height: 10px;
    background: $secondary-black;
    overflow: hidden;
  }
  
  .progress {
    border-radius: 4px;
    height: 100%;
    background: $palegold;
  }
}

@media only screen and (max-width: 900px) {
  .skillGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .skillContainers {
    padding: 1rem 0;
  }
}
