$font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// theme- 1
$primary-black: #0b0c10;
$secondary-black: #1f2833;
$grey: #c5c6c7;
$light-green: #66fcf1;
$dark-green: #45a29e;
$gold: #e8bc85;
$marigold: #f2ce3e;
$leather: #ffdc73;
$twogold: #cda34f;
$palegold: #e8c99b;

//theme-2

$theme2-black: #17252a;
$theme2-dark-green: #2b7a78;
$theme2-bg-green: #3aafa9;
$theme2-greenish-white: #def2f1;
$theme2-white: #feffff;
