:root {
  --primary-black: #0b0c10;
  --secondary-black: #1f2833;
  --grey: #c5c6c7;
  --palegold: #e8c99b;
  --white: #ffffff;
}

body {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--primary-black);
  color: var(--white);
  font-family: "epilogue", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: 2px solid var(--palegold);
  outline-offset: 4px;
}

#__next {
  max-width: 100vw;
}

